/* start globle rulse  */
:root {
	--gold-color: #ffa76c;
	--section-padding: 90px 0;
	--blue-color: #01c6c5;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}
html {
	scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
h4,
h5 {
	padding: 0 !important;
	margin: 0 !important;
}
.section {
	padding: var(--section-padding);
	background-size: cover;
	background-position: center;
	text-align: center;
}
.main_heading,
.main-heading {
	color: var(--gold-color);
	text-shadow: none;
	font-size: 50px;
	margin-block-end: 60px !important;
}
.rightArrow,
.leftArrow {
	cursor: pointer;
	height: 100%;
	user-select: none;
	background-color: #0000;
}
.rightArrow span,
.leftArrow span {
	font-size: 45px;
	color: var(--blue-color);
}
/* end globle rulse  */
/* start landing  */
.landing {
	padding: 50px 0;
	background-image: url("./assets/background-xlarge.png");
}
.landing .header {
	position: relative;
	display: none;
	background-color: #01181a;
	padding: 10px 20px;
	text-align: end;
	justify-content: space-between;
	border-top: 1px solid var(--blue-color);
	border-bottom: 1px solid var(--blue-color);
	z-index: 8;
}
.landing .headerLogo {
	width: 130px;
	margin-top: 10px;
}
.landing .menu {
	width: fit-content;
	padding: 7px;
	border-radius: 6px;
	cursor: pointer;
	border: 1px solid var(--blue-color);
}
.landing .menu span {
	font-size: 35px;
}
.landing .hexagon {
	padding: 0 35px;
}
.landing nav.nav_header {
	display: none;
	position: absolute;
	transform: translate(0, -100%);
	z-index: 1;
	transition: 0.3s;
}
.landing nav.nav_header.active {
	transform: translate(0);
}
@media (max-width: 768px) {
	.landing {
		padding-block-start: 0;
	}
	.landing .header {
		display: flex;
	}
	.landing nav {
		display: none;
	}
	.landing nav.nav_header {
		display: block;
	}
	.landing nav .row {
		background-color: #01181a;
		row-gap: 20px;
		padding-block: 20px;
	}
	.landing .hexagon {
		padding: 0 100px;
	}
}
.landing p {
	font-weight: bold;
}
.landing .logo {
	margin-block: 90px 55px;
}
.landing .boxs {
	margin: 50px;
}
@media (max-width: 992px) {
	.landing .boxs {
		margin-inline: 0;
	}
}
@media (max-width: 768px) {
	.landing .boxs .col:first-child,
	.landing .boxs .col:nth-of-type(2) {
		margin-bottom: 140px;
	}
}
.LandingBox {
	width: 210px;
	position: relative;
	text-align: center;
}
.LandingBox .head {
	position: relative;
	/* width: 200px; */
	height: 210px;
	z-index: 5;
}
.LandingBox .img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 93%;
	height: 93%;
	background-color: var(--gold-color);
}
.LandingBox .img,
.LandingBox .img1 {
	clip-path: polygon(
		15% 0%,
		85% 0%,
		100% 15%,
		100% 85%,
		85% 100%,
		15% 100%,
		0% 85%,
		0% 15%
	);
}
.LandingBox .img1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 98%;
	height: 98%;
}
.LandingBox .body {
	z-index: 1;
	height: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.LandingBox .body .h,
.LandingBox .body .p {
	text-align: center;
	font-size: 20px;
	text-shadow: none;
}
.LandingBox .body .h {
	color: var(--gold-color);
	text-transform: uppercase;
}
.LandingBox .body .p {
	color: var(--blue-color);
	font-weight: 100;
	margin: 15px 17px 0px !important;
}
.LandingBox .body svg {
	position: absolute;
	top: 178px;
	left: 0;
	z-index: 1;
}
.LandingBox .line {
	position: absolute;
	width: 50px;
	height: 1px;
	background-color: var(--gold-color);
}
.LandingBox .line.one {
	left: -17px;
	top: 7px;
	transform: rotate(317deg);
}
.LandingBox .line.two {
	right: -17px;
	top: 7px;
	transform: rotate(45deg);
}
.LandingBox .line.three {
	left: -17px;
	bottom: -50px;
	transform: rotate(45deg);
}
.LandingBox .line.four {
	right: -17px;
	bottom: -50px;
	transform: rotate(314deg);
}
.LandingBox .badge {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: -76px;
	z-index: 7;
	width: 70px;
	height: 80px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0% 25%);
	background-image: linear-gradient(#8b939a, #5b6467);
	display: flex;
	align-items: center;
	justify-content: center;
}
.LandingBox .badge .box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 90%;
	background: linear-gradient(
		144deg,
		rgb(38 5 39 / 71%) 0%,
		rgb(0 45 54 / 81%) 100%
	);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0% 25%);
	box-shadow: inset 0px 0px 20px 5px #00000036;
}
.LandingBox .badge .box img {
	width: 70%;
}
.landing .Heading {
	text-align: center;
	color: var(--gold-color);
	margin-block: 100px 35px !important;
	font-size: 43px;
	text-shadow: none;
}
/* end landing  */
/* start register */
.register {
	padding: var(--section-padding);
	background-color: #01181a;
	border-top: 1px solid #265a5f;
}
.register .text {
	margin-block-end: 17px !important;
}
.register .hexagon {
	color: var(--gold-color);
}
@media (max-width: 768px) {
	.register .container {
		padding: 0 20px;
	}
}
/* end register */
/* start stats */
.stats {
	background-image: url("./assets/stats/Gruppe 110.png");
}
.stats .row {
	row-gap: 30px;
}
.stats .row img {
	width: 140px;
}
.stats .row .heading {
	color: var(--gold-color);
	text-shadow: none;
	font-size: 46px;
	letter-spacing: 4px;
	margin-block: 15px 0px !important;
}
.stats .row .p {
	font-size: 22px;
}
/* end stats */
/* start gallery */
.gallery {
	background-image: url("./assets/Gruppe 133.png");
	border-top: 10px solid var(--blue-color);
	border-bottom: 10px solid var(--blue-color);
	position: relative;
}
.gallery .item {
	display: none;
}
.gallery .css-doq0dk {
	height: 400px;
	width: 50%;
	margin: auto;
}
figure > div > div div:nth-of-type(1) {
	display: none;
}
.gallery .css-1qzevvg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	cursor: pointer;
}
.gallery .css-1qzevvg img {
	filter: hue-rotate(293deg) brightness(4);
	transform: scale(0.8);
}
.gallery .text {
	text-align: start;
	font-weight: 500;
	border-top: 2.5px solid var(--blue-color);
	margin-inline: 80px;
}
.gallery .text .p {
	margin-block-start: 25px !important;
	margin-inline: 20px !important;
}
@media (max-width: 768px) {
	.gallery .css-1qzevvg {
		top: 530px;
		width: 40%;
		transform: scale(0.9) translate(-50%, 0);
		z-index: 10;
	}
	.gallery .main-heading {
		margin-block-end: 10px !important;
	}
	.gallery .text {
		margin-inline: 5px;
	}
}
@media (max-width: 768px) and (min-width: 450px) {
	.gallery .css-doq0dk {
		transform: scale(0.9);
		margin-block: 20px;
	}
}
@media (max-width: 450px) {
	.gallery .css-1qzevvg {
		top: 475px;
	}
	.gallery .css-doq0dk {
		transform: scale(0.6);
	}
}
/* end gallery */
/* start features */
.features {
	background-image: url("./assets/background-xlarge.png");
}
.features .row {
	row-gap: 40px;
}
.FeatureBox {
	background: linear-gradient(180deg, #0000 0%, #00f8f81a 30%);
	max-width: 270px;
	padding: 20px;
	border-bottom: 3px solid var(--blue-color);
	position: relative;
	text-align: center;
}
.FeatureBox .text .heading {
	margin-block: 18px !important;
	color: var(--gold-color);
	text-shadow: none;
}
.FeatureBox img {
	width: 130px;
	margin-block-start: 30px;
	border-radius: 50%;
	border: 1px solid var(--blue-color);
}
.FeatureBox .text + div {
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translate(-50%, 0);
}
.FeatureBox .comingP {
	color: #fff;
	padding: 10px 30px !important;
	text-shadow: none;
	font-size: 20px;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: bold;
}
.FeatureBox .text + div g path {
	opacity: 0.5;
}
/* end features */
/* start topPlayers */
.topPlayers {
	background-image: url("./assets/Gruppe 133.png");
}
.topPlayers .container > .row {
	row-gap: 25px;
}
.TopPlayerCard {
	width: 900px;
}
.TopPlayerCardBox > div {
	padding: 1px !important;
}
.TopPlayerCard .info .name {
	align-self: start;
	margin-inline-start: 30px !important;
	font-weight: bold;
	font-size: 32px;
	text-shadow: none;
	color: var(--blue-color);
	margin-block-end: 3px !important;
}
.TopPlayerCard .info .type {
	align-self: start;
	margin-inline-start: 30px !important;
	font-size: 24px;
	text-shadow: none;
	color: var(--gold-color);
}
.TopPlayerCard .info_stats {
	justify-content: start;
}
.TopPlayerCard .info_stats .stats_p {
	font-size: 25px;
	font-weight: bold;
	color: var(--blue-color);
}
.TopPlayerCard .info_stats .stats_p .span {
	margin-inline-start: 30px !important;
	font-weight: 300;
	color: var(--gold-color);
}
@media (max-width: 992px) {
	.TopPlayerCard {
		width: 700px;
	}
}
@media (max-width: 768px) {
	.TopPlayerCard {
		width: 550px;
	}
	.TopPlayerCard .info .name {
		font-size: 25px;
	}
	.TopPlayerCard .info .type {
		font-size: 21px;
	}
	.TopPlayerCard .info_stats .stats_p {
		font-size: 18px;
	}
}
@media (max-width: 600px) {
	.TopPlayerCard {
		width: 300px;
	}
	.TopPlayerCard .info .name {
		font-size: 15px;
		margin-inline-start: 10px !important;
	}
	.TopPlayerCard .info .type {
		font-size: 11px;
		margin-inline-start: 10px !important;
	}
	.TopPlayerCard .info_stats .stats_p {
		font-size: 10px;
	}
	.TopPlayerCard .info_stats .stats_p .span {
		font-size: 10px;
		margin-inline-start: 10px !important;
	}
}
/* end topPlayers */
/* start faq  */
.FAQ {
	background-image: url("./assets/stats/Gruppe 110.png");
	padding-bottom: 10px;
}
.FAQ .container > .row {
	min-height: 423px;
}
.FAQ .qust_box {
	min-height: 423px;
	align-content: center;
	row-gap: 20px;
}
.FAQ img {
	opacity: 0.7;
}
.FAQCard {
	transition: 0.3s;
	width: 400px;
	position: relative;
}
.FAQCard .qustionBox {
	justify-content: space-between;
}
.qustionCard {
	cursor: pointer;
}
.FAQCard .qustion {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-block-start: 5px !important;
}
.FAQCard .dis {
	font-size: 15px;
	font-weight: 500;
	margin-block-start: 5px !important;
	padding-block-start: 10px !important;
	text-align: start;
	opacity: 0.5;
	border-top: 1px solid var(--blue-color);
	transition: 1s;
}
.FAQCard svg {
	width: 10px;
}
@media (max-width: 768px) {
	.FAQCard {
		width: 290px;
	}
	.FAQ .qust_box {
		min-height: 418.5px;
		align-content: center;
	}
}
@media (max-width: 350px) {
	.FAQCard {
		width: 270px;
	}
}
/* end faq  */
/* start reviews */
.reviews {
	background-image: url("./assets/background-xlarge.png");
	border-top: 10px solid var(--blue-color);
	border-bottom: 10px solid var(--blue-color);
}
.reviewCardBox {
	border: 20px solid #0000;
}
@media (max-width: 768px) {
	.reviewCardBox {
		border: 5px solid #0000;
	}
}
.reviewCard .text {
	border-bottom: 1px solid var(--blue-color);
	padding-block-end: 10px !important;
	min-width: 200px;
	/* margin-inline: 20px; */
}
.reviewCard .headingP {
	display: block;
	text-align: start;
	font-size: 20px;
	font-weight: bold;
	color: var(--blue-color);
	margin-block: 5px !important;
}
.reviewCard .p {
	text-align: start;
	font-size: 17px;
	opacity: 0.7;
}
.reviewCard .info {
	padding-block: 10px !important;
	justify-content: start;
	gap: 15px;
	flex-wrap: nowrap;
}
.reviewCard .info img {
	width: 70px;
	border-radius: 50%;
	border: 1px solid var(--blue-color);
}
.reviewCard .info .name {
	align-self: start;
	/* margin-inline-start: 30px !important; */
	font-weight: bold;
	font-size: 20px;
	text-shadow: none;
	color: var(--blue-color);
}
.reviewCard .info .type {
	align-self: start;
	font-size: 16px;
	text-shadow: none;
	color: var(--gold-color);
}
/* end reviews */
/* start footer */
footer {
	background-color: #000;
	text-align: start;
}
footer .container > .row {
	align-items: start;
}

footer .icons {
	gap: 20px;
	margin-block-start: 20px;
}
footer .icons i {
	background-color: rgb(163, 163, 163);
	padding: 5px;
	font-size: 30px;
	color: #000;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.1s;
}
footer i:hover {
	background-color: #fff;
}
footer .title {
	color: var(--blue-color);
}
footer .col:nth-of-type(2),
footer .col:nth-of-type(3) {
	row-gap: 15px;
	align-items: flex-start;
	margin-block-start: 12px;
}
footer .col:nth-of-type(2) *,
footer .col:nth-of-type(3) * {
	margin-inline-start: 30px;
}
footer .list {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
footer a {
	color: rgb(163, 163, 163);
	transition: 0.1s;
}
footer a:hover {
	color: #fff;
}
@media (max-width: 768px) {
	footer .container > .row {
		align-items: center;
		row-gap: 25px;
	}
	footer .col:nth-of-type(2),
	footer .col:nth-of-type(3) {
		align-items: center;
	}
	footer .col:nth-of-type(2) *,
	footer .col:nth-of-type(3) * {
		margin-inline-start: 0px;
	}
}
@media (max-width: 550px) {
	footer .col:nth-of-type(2),
	footer .col:nth-of-type(3) {
		align-items: flex-start;
	}
	footer .col:nth-of-type(2) *,
	footer .col:nth-of-type(3) * {
		margin-inline-start: 40px;
	}
}
/* end footer */
